<div class="w-100 text-m overflow-hidden">
    <div class="row">
        <div class="col-12">
            <a class="p-3 my-2 cursor-pointer d-block" routerLink="/dashboard"
                [routerLinkActive]="['router-link-active']">
                <!-- <span class="nav-icon-container">
                <mat-icon svgIcon="nav_custom_dashboard"></mat-icon>
                </span> -->
                <span class="ml-2"> Dashboard </span>
            </a>
        </div>
        <div class="col-12">
            <a class="p-3 my-2 cursor-pointer d-block" routerLink="/reports"
                [routerLinkActive]="['router-link-active']">
                <span class="ml-2"> Reports </span>
            </a>
        </div>
        <div class="col-12">
            <a class="p-3 my-2 cursor-pointer d-block" routerLink="/settings"
                [routerLinkActive]="['router-link-active']">
                <span class="ml-2"> Settings </span>
            </a>
        </div>
        <div class="col-12 d-md-none">
            <a class="p-3 my-2 cursor-pointer d-block" routerLink="/pnf" [routerLinkActive]="['router-link-active']">
                <span class="ml-2"> My profile </span>
            </a>
        </div>
        <div class="col-12 d-md-none">
            <a class="p-3 my-2 cursor-pointer d-block" routerLink="/pnf" [routerLinkActive]="['router-link-active']">
                <span class="ml-2"> Logout </span>
            </a>
        </div>
    </div>
</div>