.login-div{
    background: rgb(58,180,169);
    background: linear-gradient(190deg, rgba(58,180,169,1) 0%, rgba(159,190,176,1) 50%, rgba(55,122,223,1) 100%); 
    width: 100%;
    height: 100vh;
}

mat-form-field{
    width: 100%;
    color: var(--dark) !important;
}

::ng-deep .mdc-text-field--outlined .mdc-notched-outline{
    // background: white !important;
    border-radius: 5px !important;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em !important;
}

::ng-deep .mat-mdc-form-field-error-wrapper{
    padding: 0 !important;
    margin-top: .25rem !important;
}

.text-login{
    color: var(--primary) !important;
    font-size: var(--size-regular) !important;
    font-weight: 700 !important;
}

.text-login::placeholder{
    font-weight: 400 !important;
}

.bg-card{
    background: white !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}