<div class="row login-div align-items-center justify-content-center mx-0">
    <form [formGroup]="loginForm" class="col-11 col-md-6 col-lg-4 bg-card p-5" (ngSubmit)="login()">
        <div class="text-xxl text-primary mt-3 mb-5 text-center">
            <b> Welcome </b>
        </div>
        <div class="w-100 my-5">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput class="text-login" placeholder="Username" formControlName="username">
                <mat-error class="text-xs text-danger"
                    *ngIf="(fControl.username.touched || isSubmitted) && fControl.username.invalid">
                    Username is not valid
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-100 mb-5">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" class="text-primary" placeholder="Password" formControlName="password">
                <mat-error class="text-xs text-danger"
                    *ngIf="(fControl.password.touched || isSubmitted) && fControl.password.invalid">
                    Password is not valid
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-100">
            <button class="btn-custom-1 w-100 py-4 text-m" type="submit"> Sign In </button>
        </div>
    </form>
</div>