<div class="row mb-md-4">
    <div class="col-12 col-md-4 col-xl-2 mb-3">
        <div class="d-flex align-items-center justify-content-between item-border p-4">
            <p class="text-m mb-0"> Flow 1 </p>
            <p class="text-lg mb-0"> 300 </p>
        </div>
    </div>
    <div class="col-12 col-md-4 col-xl-2 mb-3">
        <div class="d-flex align-items-center justify-content-between item-border p-4">
            <p class="text-m mb-0"> Flow 2 </p>
            <p class="text-lg mb-0"> 300 </p>
        </div>
    </div>
    <div class="col-12 col-md-4 col-xl-2 mb-3">
        <div class="d-flex align-items-center justify-content-between item-border p-4">
            <p class="text-m mb-0"> Flow 3 </p>
            <p class="text-lg mb-0"> 300 </p>
        </div>
    </div>
</div>