html, body { 
    height: 100%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 62.5% !important;
}

body { 
    margin: 0; 
    font-family: 'Roboto', "Helvetica Neue", sans-serif; 
    padding: 0;
    font-size: var(--size-regular, 1.6rem);
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark) !important;
    text-align: left;
    // background-color: #f8faff;
}

.table-filter {
    border: 1px solid var(--secondary) !important;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 1rem;
    height: 100%;
    display: flex;
    align-items: center !important;
    min-width: 15rem;
}
  
.table-filter .mat-select-arrow {
    margin: 0px !important;
    position: relative;
    top: -1px;
}

